.container {
  color: #1f2328;
  padding: 20px;
  text-align: center;
  border-top: solid 2px #bbd3f5;
  height: 100%;
  display: flex;
}

.innerContainer {
  margin: 0 auto;
}

.innerContainer > p {
  color: #1677ff;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding: 0.1em;
  }
}
/* Responsive styles */
@media (max-width: 600px) {
  .container {
    padding: 6px;
  }
}
